/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
  background-size: 100% 280px;
}

#main {
	width: 1024px;
	margin: 100px auto;
}

.left {
	float: left;
	width: 30%;
	margin-bottom: 40px;
}

.right {
	float: left;
	margin-left: 5%;
	width: 50%;
}

.top {
	height:80px;
	width:100%;
}

.top-l {
	float:left;
	widows: 300px;
	height:100%;
	margin-left:5px;
}

.top-r {
	float:right;
}

.text {
	background-image:url("../images/frame.png");
	background-repeat: no-repeat;
	padding: 40px;
}

.download {

}

footer {
	clear: both;
	margin: 0 auto;
	padding-right: 200px;
	width: 75%;
	font-weight: bold;
	text-transform: uppercase;
}

#bot {
  background-color:#eeeeee;
  display: inline;
}
#bot-nav{
  list-style-type: none;
}
#bot-nav li {
  display: inline;
}
#bot-nav li:not(:first-child) {
	margin-left: 15px;
}
#bot-nav a {
	text-decoration: none;
	color:#1c5380;
}
#copyright {
  color:gray;
}